<form>
  <div class="form-group">
    <label for="nameinput">Name</label>
    <input type="text" class="form-control"
           name = nameinput id="nameinput"
           placeholder="Enter name" [(ngModel)]="adat.name">
  </div>
  <div class="form-group">
    <label for="regioninput">Region</label>
    <input type="text" class="form-control"
           name = regioninput id="regioninput"
           placeholder="Enter region" [(ngModel)]="adat.region">
  </div>
  <div class="form-group">
    <label for="wordsinput">Words</label>
    <input type="text" class="form-control"
           name = wordsinput id="wordsinput"
           placeholder="Enter words" [(ngModel)]="adat.words">
  </div>
  <div class="form-group">
    <label for="coatofarmsinput">Coat Of Arms</label>
    <input type="text" class="form-control"
           name = coatofarmsinput id="coatofarmsinput"
           placeholder="Enter coats of arms" [(ngModel)]="adat.coatOfArms">
  </div>

  <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
</form>
<!--{{adat.name}}-->

