<a (click)="logout()" href="/login"
   role="button"
   class="btn btn-outline-danger"> Logout
</a>
<table class="table" *ngIf="service.adatom">
  <thead>
  <th>Name</th>
  <th>Region</th>
  <th>Words</th>
  <th>Coat Of Arms</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let adat of service.adatom">
    <td>{{adat.name}}</td>
    <td>{{adat.region}}</td>
    <td>{{adat.words}}</td>
    <td>{{adat.coatOfArms}}</td>
    <td><button type="button" class="btn btn-outline-danger" (click)="delete(adat)">Delete</button></td>
<!--    <td><a href="/update"><button type="button" class="btn btn-info" (click)="update(adat)">Update</button></a></td>-->
  </tr>
  </tbody>
</table>

