<a (click)="logout()" href="/login"
   role="button"
   class="btn btn-outline-danger"> Logout
</a>
<form>
  <div class="form-group">
    <label for="idinput">ID</label>
    <input type="number" class="form-control"
           name = idinput id="idinput"
           placeholder="Enter ID" [(ngModel)]="idupdate">
  </div><button type="submit" class="btn btn-primary" (click)="UpdateIdSet()">Get List Element</button></form>

<form>
  <div class="form-group">
    <label for="nameinput">Name</label>
    <input type="text" class="form-control"
           name = nameinput id="nameinput"
           placeholder="Enter name" [(ngModel)]="adat.name">
  </div>
  <div class="form-group">
    <label for="regioninput">Region</label>
    <input type="text" class="form-control"
           name = regioninput id="regioninput"
           placeholder="Enter region" [(ngModel)]="adat.region">
  </div>
  <div class="form-group">
    <label for="wordsinput">Words</label>
    <input type="text" class="form-control"
           name = wordsinput id="wordsinput"
           placeholder="Enter words" [(ngModel)]="adat.words">
  </div>
  <div class="form-group">
    <label for="coatofarmsinput">Coat Of Arms</label>
    <input type="text" class="form-control"
           name = coatofarmsinput id="coatofarmsinput"
           placeholder="Enter coats of arms" [(ngModel)]="adat.coatOfArms">
  </div>

  <a href="/list"><button type="submit" class="btn btn-primary" (click)="save()">Submit</button></a>
</form>
<!--{{adat.name}}-->

